selected: {{selected | json}}
<br>

<ng-container>
  <!-- $event service ile emit edilen değeri dinleriz.Angular built'in service -->
  <app-todo-add #appTodoAdd [ngStyle]="{'padding':todoListConfig.padding,'margin':'50px'}" [InputValue]="selected"
    [editMode]="selected == '' ? false:true" (itemAdded)="onItemAdded($event)"
    (itemUpdated)="onItemUpdated($event)"></app-todo-add>
</ng-container>

<!-- yukarıdaki ise class değerinin bir duruma göre verilmesi anlamına geliyor. -->
<!-- <div [style.paddingLeft]="'10px'" [ngClass]="isActive ? 'active':'passive'">
  NgClass
</div> -->

<!-- aşağıdaki span active class uygula demek -->
<!-- <span [style.paddingLeft]="'10px'" [class.active]="'active'">Class.Active Kullanımı</span> -->


<!-- Parenta ait arayüz -->

<ng-container class="wrapper">
  <div [style.padding]="todoListConfig.padding" [style.marginTop]="todoListConfig.marginTop">
    <mat-list role="list">

      <!-- *ngFor sturctural directive content repeat eder -->


      <ng-container *ngFor="let item of todolist let i=index">

        <mat-list-item [ngClass]="selected == item ? 'active':''" (click)="onSelect(item)" role="listitem">{{i}}.index
          {{item}}</mat-list-item>

        <mat-divider></mat-divider>

      </ng-container>

    </mat-list>
  </div>
</ng-container>